<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.CAMERA"/>

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"/>

    <queries>
        <intent>
            <action
                android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:label="CS712AndroidApp"
            android:theme="@style/Theme.CS712AndroidApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.CS712AndroidApp">
            <intent-filter>
                <action android:name="com.example.cs712androidapp.ACTION_SECOND_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyForegroundService"
            android:exported="false"
            android:foregroundServiceType=""/>


        <activity
            android:name=".ThirdActivity"
            android:exported="true"
            android:label="Third Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.example.cs712androidapp.ACTION_THIRD_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
